<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmus.fit.merchant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Merchant">

        <activity android:name=".activities.LoginActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Merchant.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Merchant.NoActionBar">
        </activity>
        <activity android:name=".activities.DishDetailActivity"/>
        <activity android:name=".activities.OrderActivity"/>
        <activity android:name=".activities.OTPLoginActivity"/>
        <activity android:label="@string/notification" android:name=".activities.NotificationActivity"/>
    </application>

</manifest>